[Unit]
Description=Rclone onedrive-personal
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=rclone mount --vfs-cache-mode full --vfs-read-chunk-size 128M --vfs-write-back 5s --vfs-cache-max-age 48h --vfs-read-ahead 256M onedrive-personal:/ /mnt/onedrive-personal/
ExecStop=/bin/fusermount -u /mnt/onedrive-personal

[Install]
WantedBy=default.target
